.footer__links {
	display: flex;
	justify-content: space-between; 
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 30px;
}
.bottom-links__navigation {
	color: #8993ad;
	font-size: 18px;
}
.navigation-list__item_vertical {
	margin-bottom: 12.5px;
}
.contact-list__icon {
	color: #fa0c8c;
	margin-right: 20px;
}
.bottom-links__contact-list {
	font-size: 25px;
}
.contact-list__item {
	padding-bottom: 45px;
}
.contact-list__button {
	width: 250px;
	padding: 15px 0;
	margin-right: 20px;
	margin-bottom: 30px;
	border: 1px solid #ff6375;
	background-color: transparent;
	transition: all 0.25s ease-in;
	color: #ff6375;
	cursor: pointer;
	font-size: 16px;
}
.contact-list__button:hover {
	background-color: #ff6375;
	color: #ffffff;
}
.contacts-list__sn-list {
	display: flex;
	width: 200px;
	justify-content: space-around;
}
.social-networks-list__vk, .social-networks-list__fb, .social-networks-list__tw, .social-networks-list__inst {
	display: inline-block;
	height: 30px;
	background-image: url("../img/social-networks-logos.png");
	background-repeat: repeat-x;
	opacity: 65%;
	transition: all 0.25s linear;
}
.social-networks-list__vk:hover, .social-networks-list__fb:hover, .social-networks-list__tw:hover, .social-networks-list__inst:hover {
	filter: hue-rotate(130deg) saturate(500%);
}
.social-networks-list__vk {
	width: 35px;
	background-position: 0 center;
}
.social-networks-list__fb {
	width: 20px;
	background-position: 130px center;
}
.social-networks-list__tw {
	width: 30px;
	background-position: 83px center;
}
.social-networks-list__inst {
	width: 25px;
	background-position: 25px center;
}
.footer__copyright {
	padding: 30px 0;
	color: #ffffff;
	background-color: #31293c;
	text-align: center;
}
@media (max-width: 1024px) {
	.footer__links {
		flex-flow: row wrap;
		padding-left: 40px;
		padding-right: 40px;
	}
	.contact-list__button {
		margin-right: 0;
	}
}
@media (max-width: 650px) {
	.footer__links {
		flex-flow: column nowrap;
		padding: 50px 20px;
	}
	.bottom-links__navigation {
		font-size: 15px;
		padding-bottom: 30px;
	}
	.bottom-links__contact-list {
		color: #8993ad;
		font-size: 15px;
		font-weight: 500;
	}
	.contact-list__item {
		padding-bottom: 30px;
	}
	.contact-list__button {
		width: 100%;
		padding: 20px 60px;
		border: none;
		background-color: #ff4e2e;
		color: #ffffff;
		font-size: 18px;
	}
	.footer__copyright {
		font-size: 12px;
	}
}