.header__wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.header__wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.header__navigation-list {
	float: left;
	margin-top: 45px;
}

.navigation-list__item_horizontal {
	display: inline-block;
	margin-right: 30px;
}

.navigation-list__link_horizontal {
	padding-bottom: 2px;
}

.navigation-list__link_horizontal:hover {
	border-bottom: 1px solid #fc557c;
}

.header__call-wrapper {
	float: right;
	margin-top: 30px;
	vertical-align: middle;
}

.header__call-link {
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
	font-size: 25px;
}

.header__call-button_regular {
	width: 210px;
	padding: 15px 0;
	border: 1px solid #ff6375;
	background-color: transparent;
	color: #ff6375;
	transition: all 0.25s ease-in;
	font-size: 16px;
}

.header__call-button_regular:hover {
	background-color: #ff6375;
	color: #ffffff;
}

.header__menu-button, .header__call-button_minimized {
	display: none;
}

.header__menu-button.opened, .header__navigation-list.mobile {
	float: none;
}

.mobile .navigation-list__item_horizontal {
	display: block;
	margin-bottom: 25px;
	text-align: center;
}

@media (max-width: 1170px) {
	.header__wrapper {
	  padding: 0 40px;
	}
	
	.header__navigation-list {
		display: none;
	}
	
	.header__menu-button {
		display: inline-block;
		float: left;
		width: 45px;
		height: 32px;
		margin-top: 37px;
		border: none;
		background-color: transparent;
		background-image: url("../img/burger-icon.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.header__call-wrapper {
		margin-top: 30px;
	}
	
	.header__call-link {
		margin-right: 30px;
	}
}
@media (max-width: 650px) {
	.header__wrapper {
	  padding: 0 20px;
	}
	
	.header__menu-button {
		width: 24px;
		height: 18px;
		margin-top: 30px;
		margin-right: 30px;
		background-image: url("../img/burger-small.png");
	}
	
	.header__call-wrapper {
		margin-top: 25px;
	}
	
	.header__call-link {
		margin-right: 30px;
		vertical-align: middle;
		font-size: 18px;
	}
	
	.header__call-button_regular {
		display: none;
	}
	
	.header__call-button_minimized {
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		border: none;
		background-color: transparent;
		background-image: url("../img/call.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
}