.description__wrapper {
	position: relative;
	width: 100%;
	height: 695px;
	overflow: hidden;
	background-image: url("../img/ellipse.png");
	background-repeat: no-repeat;
	background-position: 111% 60px;
}

.description__image {
	position: absolute;
	left: 62%;
	top: 52.5px;
	filter: drop-shadow(10px 0px 25px rgba(0,0,0,0.25));
}

.description__article {
	padding-top: 200px;
	max-width: 1170px;
	margin: 0 auto;
}

.description-article__name {
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 80px;
}

.description-article__comment {
	margin-bottom: 35px;
	color: #8993ad;
	font-size: 25px;
}

.description-article__button {
	width: 270px;
	padding: 20px 0;
	border: none;
	background-color: #ff4e2e;
	color: #ffffff;
	transition: all 0.25s linear;
	font-size: 18px;
}

.description-article__button:hover {
	background-color: #f72c65;
}

.services-article {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-top: 85px;
	padding-bottom: 100px;
	background-color: #ffffff;
	text-align: center;
}

.services-article__heading {
	font-weight: bold;
	font-size: 54px;
	text-align: center;
}

.services-article__list {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	margin: 90px auto;
	padding: 0;
}

.services-list__item {
	margin-right: 30px;
}

.services-list__item:last-of-type {
	margin-right: 0;
}

.services-list__figure {
	width: 270px;
	margin: 0;
}

.services-list__figcaption {
	margin-top: 15px;
	color: #8993ad;
	font-size: 20px;
	line-height: 1.5;
}

.services-article__button {
	width: 270px;
	padding: 20px 0;
	border: none;
	background-color: #ff4e2e;
	color: #ffffff;
	transition: all 0.25s linear;
	font-size: 18px;
}

.services-article__button:hover {
	background-color: #f72c65;
}

.examples-article__wrapper {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 105px;
	text-align: center;
}

.examples-article__heading {
	font-weight: bold;
	font-size: 54px;
	text-align: center;
}

.examples-article__list {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 95px;
	margin-right: 55px;
	margin-left: 55px;
	overflow: hidden;
}

.examples-list__figure {
	width: 370px;
	margin: 0;
}

.examples-list__figcaption {
	margin-top: 32.5px;
	color: #8993ad;
	font-weight: 500;
	font-size: 20px;
}

.examples-article__slider-button {
	position: absolute;
	z-index: 5;
	top: 370px;
	width: 65px;
	height: 65px;
	padding: 0;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
	background-image: url("../img/left-arrow.png");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
}

.examples-article__slider-button_left {
	left: -32.5px;
}

.examples-article__slider-button_right {
	right: -32.5px;
	transform: rotate(180deg);
}

.examples-article__button {
	width: 270px;
	padding: 20px 0;
	border: none;
	background-color: #ff4e2e;
	color: #ffffff;
	transition: all 0.25s linear;
	font-size: 18px;
}

.examples-article__button:hover {
	background-color: #f72c65;
}

.prices-info__wrapper {
	position: relative;
	width: 100%;
	background-image: linear-gradient(13deg, #ff8f5a 40%, #ff2f96 100%);
	color: #ffffff;
}

.prices-info__article {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 100px;
}

.prices-article__header {
	max-width: 1000px;
	margin-bottom: 50px;
	font-size: 45px;
}
.prices-article__comment {
	max-width: 770px;
	line-height: 1.5;
} 

.swiper-pagination {
	display: none;
}

@media (max-width: 1350px) {
	.description__article {
		padding: 0 40px;
		padding-top: 220px;
	}
	
	.description-article__name {
		margin-bottom: 25px;
		font-size: 54px;
	}
	
	.description-article__comment {
		margin-bottom: 45px;
	}
	
	.description-article__button {
		width: 320px;
	}
	
	.services-article__list {
		flex-flow: row wrap;
		justify-content: space-around;
		margin-bottom: 30px;
		padding: 0 40px;
	}
	
	.services-list__item {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 70px;
	}
	
	.services-list__item:last-of-type {
		margin-right: 20px;
	}
	
	.services-article__button {
		width: 320px;
	}
	
	.examples-article__wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.examples-article__list {
		justify-content: space-around;
	}
	
	.examples-list__figure {
		width: 455px;
	}
	
	.examples-list__image {
		width: 455px;
	}
	
	.examples-article__slider-button {
		display: none;
	}
	
	.examples-article__button {
		width: 320px;
	}
	
	.prices-info__wrapper {
		padding: 0 40px;
	}
	
	.swiper-pagination {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 115px;
		margin-bottom: 100px;
	}
	
	.swiper-pagination-bullet {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 1024px) {
	.description__wrapper {
		background-image: url("../img/ellipse-middle.png");
		background-position: 450% 170px;
	}
	
	.description__image {
		left: 53.75%;
		top: 52.5px;
		filter: none;
	}
	
	.services-article__list {
		max-width: 700px;
		justify-content: space-between;
	}
	
	.examples-article__list {
		justify-content: space-between;
	}
	
	.prices-info__article {
		padding-left: 40px;
	}
	
	.prices-article__comment {
		font-size: 18px;
	}
}

@media (max-width: 1000px) {
	.examples-article__list {
		justify-content: center;
	}
}

@media (max-width: 950px) {
	.description__wrapper {
		background-image: url("../img/ellipse-middle.png");
		background-position: 0 170px;
	}
	
	.description__article {
		max-width: 60%;
		margin-left: 0;
		text-align: center;
	}
	
	.description-article__button {
		max-width: 100%;
	}
	
	.description-article__name {
		margin-bottom: 15px;
		font-size: 30px;
	}
	
	.description-article__comment {
		margin-bottom: 30px;
		font-size: 16px;
	}
	
	.services-article__list {
		justify-content: center;
	}
	
	.services-article__button, .examples-article__button {
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.description__wrapper {
		height: auto;
		padding-top: 417px;
		background-image: url("../img/ellipse-small.png");
		background-position: 40% 122px;
		background-size: auto 410px;
	}
	
	.description__image {
		width: 225px;
		left: 25%;
		top: 80px;
	}
	
	.description__article {
		max-width: 100%;
		padding: 0 20px;
		padding-top: 5px;
		background-color: #ffffff;
		text-align: center;
	}
	
	.description-article__name {
		margin-bottom: 15px;
		font-size: 30px;
	}
	
	.description-article__comment {
		margin-bottom: 30px;
		font-size: 16px;
	}
	
	.description-article__button {
		width: 280px;
	}
	
	.services-article__heading {
		font-size: 30px;
	}
	
	.services-article {
		padding: 45px 20px;
	}
	
	.services-article__list {
		max-width: 100%;
		margin-top: 40px;
		margin-bottom: 0px;
		padding: 0 20px;
	}
	
	.services-list__item {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 45px;
	}
	
	.services-list__item:last-of-type {
		margin-right: 0;
	}
	
	.services-list__image {
		width: 62px;
	}
	
	.services-list__figcaption {
		margin-top: 15px;
		font-size: 16px;
	}
	
	.services-article__button {
		width: 280px;
	}
	
	.examples-article__wrapper {
		padding: 40px 20px 50px;
	}
	
	.examples-article__list {
		max-width: 100%;
		margin-top: 60px;
		margin-bottom: 50px;
	}
	
	.examples-list__figure {
		width: 280px;
	}
	
	.examples-list__figcaption {
		margin-top: 20px;
		font-size: 18px;
	}
	
	.examples-article__button {
		width: 280px;
	}
	
	.prices-info__wrapper {
		padding: 0 20px;
	}
	
	.prices-info__article {
		padding: 50px 20px;
	}
	
	.prices-article__header {
		font-size: 28px;
	}
	
	.swiper-pagination {
		width: 60px;
		margin-bottom: 50px;
	}
	
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}
}

.description__decoration {
	position: absolute;
	color: #f72c65;
	font-weight: bold;
	font-size: 60px;
	animation-name: tag;
	animation-duration: 4s;
}

.description__decoration_first {
  -moz-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
  -webkit-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
  -ms-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
	
  left: 123.621px;
  top: 45px;
}

.description__decoration_second {
  -moz-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -webkit-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -ms-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	
  left: 245px;
  top: 280px;
}

.description__decoration_third {
  -moz-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
  -webkit-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
  -ms-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
	
  left: 364.331px;
  top: 577px;
}

.description__decoration_fourth {
  -moz-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);
  -webkit-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);
  -ms-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);
	
  left: 750.751px;
  top: 65px;
}

.description__decoration_fifth {
  -moz-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
  -webkit-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
  -ms-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
	
  left: 925.251px;
  top: 443.5px;
}

.description__decoration_sixth {
	display: none;
}

.prices-info__decoration {
	position: absolute;
	font-weight: bold;
	font-size: 60px;
	animation-name: tag;
	animation-duration: 1s;
}

.prices-info__decoration_first {
  -moz-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
  -webkit-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
  -ms-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);

  left: 123.121px;
  top: 52.5px;
}

.prices-info__decoration_second {
  -moz-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -webkit-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -ms-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	
  left: 249px;
  top: 141px;
}

.prices-info__decoration_second {
  -moz-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -webkit-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
  -ms-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	
  left: 245px;
  top: 245px;
}

.prices-info__decoration_third {
  -moz-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
  -webkit-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
  -ms-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);

  left: 1642.331px;
  top: 61px;
}

.prices-info__decoration_fourth {
  -moz-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
  -webkit-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
  -ms-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);

  left: 1395px;
  top: 287.5px;
}

.prices-info__decoration_fifth {
  -moz-transform: matrix( 0.79372553245355,-0.25151098414347,0.25151098414347,0.79372553245355,0,0);
  -webkit-transform: matrix( 0.79372553245355,-0.25151098414347,0.25151098414347,0.79372553245355,0,0);
  -ms-transform: matrix( 0.79372553245355,-0.25151098414347,0.25151098414347,0.79372553245355,0,0);
	
  left: 1760.621px;
  top: 250px;
}

@media (max-width: 1820px) {
	.description__decoration_first {
	  -moz-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
	  -webkit-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);
	  -ms-transform: matrix( 0.72159603080403,0.37432663296015,-0.37432663296015,0.72159603080403,0,0);

	  transform: translate(75.121, 65.705);
	  left: 75.121px;
	  top: 65.705px;
	}

	.description__decoration_second {
	  -moz-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	  -webkit-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	  -ms-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);

	  left: 56px;
	  top: 546px;
	}

	.description__decoration_third {
	  -moz-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);
	  -webkit-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);
	  -ms-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);

	  left: 412.831px;
	  top: 140.969px;
	}

	.description__decoration_fourth {
	  -moz-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);
	  -webkit-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);
	  -ms-transform: matrix( 0.48280448948131,-0.12214047770298,0.12214047770298,0.48280448948131,0,0);

	  left: 850.751px;
	  top: 50px;
	}

	.description__decoration_fifth {
	  -moz-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
	  -webkit-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);
	  -ms-transform: matrix( 0.58798214978162,0.21554688540119,-0.21554688540119,0.58798214978162,0,0);

	  left: 843.251px;
	  top: 451.5px;
	}

	.description__decoration_sixth {
	  display: block;
		
	  -moz-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
	  -webkit-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
	  -ms-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);

	  left: 346.331px;
	  top: 489.969px;
	}


	.prices-info__decoration_first {
	  -moz-transform: matrix( 0.4786562830136,0.24830207916479,-0.24830207916479,0.4786562830136,0,0);
	  -webkit-transform: matrix( 0.4786562830136,0.24830207916479,-0.24830207916479,0.4786562830136,0,0);
	  -ms-transform: matrix( 0.4786562830136,0.24830207916479,-0.24830207916479,0.4786562830136,0,0);

	  left: 142.121px;
	  top: 5px;
	}

	.prices-info__decoration_second {
	  -moz-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	  -webkit-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);
	  -ms-transform: matrix( 0.91532249290851,0.26083794888422,-0.26083794888422,0.91532249290852,0,0);

	  left: 249px;
	  top: 141px;
	}

	.prices-info__decoration_second {
	  display: none;
	}

	.prices-info__decoration_third {
	  -moz-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
	  -webkit-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);
	  -ms-transform: matrix( 0.62913254694498,-0.25657231186215,0.25657231186215,0.62913254694498,0,0);

	  left: 861.331px;
	  top: 274.969px;
	}

	.prices-info__decoration_fourth {
	  -moz-transform: matrix( 0.38980320260378,0.14289696765771,-0.14289696765771,0.38980320260378,0,0);
	  -webkit-transform: matrix( 0.38980320260378,0.14289696765771,-0.14289696765771,0.38980320260378,0,0);
	  -ms-transform: matrix( 0.38980320260378,0.14289696765771,-0.14289696765771,0.38980320260378,0,0);

	  left: 471.751px;
	  top: 282.5px;
	}

	.prices-info__decoration_fifth {
	  display: none;
	}
	
}

@media (max-width: 950px) {
	.description__decoration_first {
	  -moz-transform: matrix( 0.36740269927945,0.19058948426935,-0.19058948426935,0.36740269927945,0,0);
	  -webkit-transform: matrix( 0.36740269927945,0.19058948426935,-0.19058948426935,0.36740269927945,0,0);
	  -ms-transform: matrix( 0.36740269927945,0.19058948426935,-0.19058948426935,0.36740269927945,0,0);

	  left: 34.121px;
	  top: 26.705px;
	}

	.description__decoration_second {
	  -moz-transform: matrix( 0.46238977293659,0.13176645487491,-0.13176645487491,0.46238977293659,0,0);
	  -webkit-transform: matrix( 0.46238977293659,0.13176645487491,-0.13176645487491,0.46238977293659,0,0);
	  -ms-transform: matrix( 0.46238977293659,0.13176645487491,-0.13176645487491,0.46238977293659,0,0);

	  left: 27.5px;
	  top: 133.5px;
	}

	.description__decoration_third {
	  -moz-transform: matrix( 0.26823714401995,-0.16460249330364,0.1653324505919,0.26497828676839,0,0);
	  -webkit-transform: matrix( 0.26823714401995,-0.16460249330364,0.1653324505919,0.26497828676839,0,0);
	  -ms-transform: matrix( 0.26823714401995,-0.16460249330364,0.1653324505919,0.26497828676839,0,0);

	  left: 144.331px;
	  top: 4.969px;
	}

	.description__decoration_fourth {
	  -moz-transform: matrix( 0.23758986125219,0.0870974648037,-0.0870974648037,0.23758986125219,0,0);
	  -webkit-transform: matrix( 0.23758986125219,0.0870974648037,-0.0870974648037,0.23758986125219,0,0);
	  -ms-transform: matrix( 0.23758986125219,0.0870974648037,-0.0870974648037,0.23758986125219,0,0);

	  left: 192.751px;
	  top: 67px;
	}

	.description__decoration_sixth {
	  display: none;
	}
	
	.prices-info__decoration {
		display: none;
	}
}

@keyframes tag {
	0% {
		top: 50%;
		left: 50%;
		font-size: 0;
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
	}
}

.form {
	display: none;
}

.form__wrapper {
	position: fixed;
	z-index: 15;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column;
	width: 500px;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	padding: 50px;
	border-radius: 10px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.form__label {
	display: block;
	margin-bottom: 10px;
	color: #8993ad;
	font-size: 14px;
	font-weight: normal;
}

.form__input {
	display: block;
	height: 40px;
	width: 100%;
	margin-bottom: 30px;
	border-width: 1px;
	border-color: rgb(235, 235, 235);
	border-style: solid;
	background-color: #fcfcfc;
}

.form__submit {
	align-self: center;
}

.form__submit_call {
	width: 210px;
	margin-top: 20px;
    padding: 15px 0;
    border: 1px solid #ff6375;
    background-color: transparent;
    color: #ff6375;
    transition: all 0.5s ease-in;
    font-size: 16px;
}

.form__submit_call:hover {
	border-color: #ff6375;
	background-color: #ff6375;
	color: #ffffff;
}

.form__submit_order {
	width: 260px;
	margin-top: 20px;
    padding: 15px 0;
	border: none;
	background-color: #ff4e2e;
	color: #ffffff;
	transition: all 0.25s linear;
	font-size: 18px;
}

.form__submit_order:hover {
	background-color: #f72c65;
	color: #ffffff;
}

.form__close-button {
	position: fixed;
	right: 20px;
	top: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: #8993ad;
	font-size: 16px;
}

.form__close-button:hover {
	color: #ff6375;
}